body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px
}

h2 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-align: center;
    text-transform: uppercase;
    color: #373737;
    margin: 0px
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 0px
}

ul.navbar {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 31px 0px 0px;
    gap: 72px;
    list-style: none;
}
ul.navbar a {
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
}

main {
    margin: 0px 67.5px;
}

main img {
    display: flex;
    margin: auto;
    margin-top: 20px;
}

main h2 {
    padding: 50px 0px 38px 0px;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 28px;
}

button {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 66px auto 0px auto;
    padding: 17px 43px;
    gap: 10px;  
    background: #FF0000;
    border-radius: 4px;
    border: 0;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none;  
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

footer p {
    margin: 87px 0px 29px 750px;
    font-weight: 700;
    letter-spacing: 2.4px;
}